<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="fragments :: head">

</head>

<body>
<div th:replace="fragments :: main-top-border">

</div>



<div th:replace="fragments :: logo-lg">

</div>

<div id="mainContainer">
    <div class="container-fluid">
        <div class="container main-center-container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Welcome to The Grade Calculator</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Here you will be able to calculate how far off or how far in you are to your desired grade. First pick what qualification you are looking to calculate &amp; give us your current grades achieved and what you what to achieve and we will tell you how screwed you really are...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container ">
        <div class="row">
            <div class="center" style="width: 50%;">
                <a href="/qualification/uni_gb">
                    <button  id="beginBtn" type="button" class="btn btn-primary begin-btn">Begin</button>
                </a>
            </div>
        </div>
    </div>
</div>



</body>

<script>

</script>
</html>